{% extends "layout.html" %}
{% block menu %}
<script src="/static/js/util.js"></script>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-auto">
      <input type="button" class="btn btn-default" onclick="location.href='/list'" value="一覧に戻る">
    </div>
    <div class="col-auto">
      <input type="button" class="btn btn-primary" onclick="location.href='/edit/{{memo.id}}'" value="編集">
      <input type="button" class="btn btn-danger" onclick="delmemo('{{memo.id}}')" value="削除">
    </div>
  </div>
</div>
{% endblock menu %}
{% block contents %}
<div class="container">
  {% if "http" in memo.source %}
  <h3><a href="{{memo.source}}" target="_blank">{{memo.title}}</a></h3>
  {% else %}
  <h3>{{memo.title}}</h3>
  {% endif %}
  <h5 class="text-right text-muted">{{memo.time}}</h5>
  <p>{{memo.contents|safe}}</p>
  <div class="row">
    {% for url in memo.media %}
    {% if url != "" %}
    <div class="col-md" style="margin-bottom: 5px;">
      <a href="{{url}}" target="_blank">
        <img src="{{url}}" class="img-thumbnail"></img>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <p>
    <a href="{{memo.url}}" target="_blank">{{memo.url}}</a>
  </p>
</div>
{% endblock contents %}