{% extends "layout.html" %}
{% block menu %}
<script src="/static/js/util.js"></script>
<div class="container">
  <input type="button" class="btn btn-default" onclick="location.href='/list'" value="一覧に戻る">
  <input type="button" class="btn btn-primary" onclick="location.href='/edit/{{memo.id}}'" value="編集">
  <input type="button" class="btn btn-danger" onclick="delmemo()" value="削除">
</div>
{% endblock menu %}
{% block detail %}
<div class="container">
  <table class="table table-condensed">
    <tr>
      <td>ID</td>
      <td>{{memo.id}}</td>
    </tr>
    <tr>
      <td>編集時刻</td>
      <td>{{memo.time}}</td>
    </tr>
    <tr>
      <td>内容</td>
      <td>{{memo.contents}}</td>
    </tr>
    {% if memo.media != "null" %}
    <tr>
      <td>メディア</td>
      <td><img src="{{memo.media}}:small"></img></td>
    </tr>
    {% endif %}
    <tr>
      <td>ソース</td>
      <td>
      {% if memo.tweet_url != "DirectMessage" %}
      <a href="{{memo.tweet_url}}" target="_blank">{{memo.tweet_url}}</a>
      {% else %}
      ダイレクトメッセージ
      {% endif %}
      </td>
    </tr>
  </table>
</div>
{% endblock detail %}