{% extends "layout.html" %}
{% block menu %}
<script src="/static/js/util.js"></script>
<div class="container">
  <input type="button" class="btn btn-default" onclick="location.href='/list'" value="一覧に戻る">
  <input type="button" class="btn btn-primary" onclick="location.href='/edit/{{memo.id}}'" value="編集">
  <input type="button" class="btn btn-danger" onclick="delmemo('{{memo.id}}')" value="削除">
</div>
{% endblock menu %}
{% block detail %}
<div class="container">
  <table class="table">
    <tr>
      <td>ID</td>
      <td>{{memo.id}}</td>
    </tr>
    <tr>
      <td>最終更新日時</td>
      <td>{{memo.time}}</td>
    </tr>
    <tr>
      <td>内容</td>
      <td>{{memo.contents}}</td>
    </tr>
    {% if memo.media != "null" %}
    <tr>
      <td>画像</td>
      <td><a href="{{memo.media}}" target="_blank"><img src="{{memo.media}}:small"></img></a></td>
    </tr>
    {% endif %}
    <tr>
      <td>ソース</td>
      <td>
      {% if memo.source != "DirectMessage" and memo.source != "編集済み" %}
      <a href="{{memo.source}}" target="_blank">{{memo.source}}</a>
      {% else %}
      {{memo.source}}
      {% endif %}
      </td>
    </tr>
  </table>
</div>
{% endblock detail %}