{% extends "layout.html" %}
{% block menu %}
<div class="container">
  <input type="button" class="btn btn-secondary" onclick="location.href='/detail/{{memo.id}}'" value="詳細に戻る">
</div>
{% endblock menu %}
{% block contents %}
<div class="container">
  <form method="POST" action="/edited/{{memo.id}}" class="form-horizontal" id="edit-form">
    <h5>タイトル(20文字まで)</h5>
    <input type="text" id="title" name="title" value="{{memo.title}}" class="form-control margin" maxlength="20">
    <h5>内容(必須)</h5>
    <textarea id="contents" name="contents" class="form-control margin" required>{{memo.contents}}</textarea>
    <div id="images">
      <h5>画像(URL)</h5>
      <button type="button" class="btn btn-outline-danger margin" id="imageremove">－</button>
      <button type="button" class="btn btn-outline-primary margin" id="imageadd">＋</button>
      {% for image in memo.media %}
      <div data-idx="{{loop.index0}}">
        <input type="url" id="media" value="{{image}}" class="form-control margin media-input">
      </div>
      {% endfor %}
    </div>
    <div id="urls">
      <h5>リンク(URL)</h5>
      <button type="button" class="btn btn-outline-danger margin" id="urlremove">－</button>
      <button type="button" class="btn btn-outline-primary margin" id="urladd">＋</button>
      {% for url in memo.url %}
      <div data-idx="{{loop.index0}}">
        <input type="url" id="url" value="{{url}}" class="form-control margin url-input">
      </div>
      {% endfor %}
    </div>
    <br>
    <input type="submit" class="btn btn-success" id="submit" value="更新">
  </form>
</div>
<script>
  media_idx = {{ memo.media|length }};
  url_idx = {{ memo.url|length }};
</script>
<script src="/static/js/form.js"></script>
{% endblock contents %}