{% extends "layout.html" %}
{% block menu %}
<div class="container markdown-body">
  <h1 id="twimemo">TwiMemo</h1>
  <h2 id="-">TwiMemoとは？</h2>
  <p>このTwiMemoはTwitterを使って簡単にメモを取るためのサービスです。
    <br>ツイートをするだけでメモが登録されるようになっています。 </p>
  <h2 id="-">メモの方法</h2>
  <h3 id="-">概要</h3>
  <ol>
    <li>
      <a href="https://twitter.com/twi_memo_">TwiMemoの公式アカウント</a>をフォローする(最初のみ) </li>
    <li>ハッシュタグを付けてツイートをする or DMを送る</li>
    <li>メッセージが返ってきたら登録完了 </li>
  </ol>
  <h3 id="-">詳細</h3>
  <ul>
    <li>
      <p>アカウントの登録方法(初回)
        <br>
        <a href="https://twitter.com/twi_memo_">TwiMemoの公式アカウント</a>をフォローします。
        <br>公式アカウントからフォローが帰ってきたら完了です。
        <br>鍵垢は自動フォローが出来ないため、別の垢を利用するか
        <a href="https://twitter.com/marron_general">@marron_general</a>に連絡してください。 </p>
    </li>
    <li>
      <p>メモの登録方法
        <br>#memoというハッシュタグを付けてツイートをするのが一番簡単です。
        <br>ハッシュタグの位置は自由です。最初でも最後でも認識します。
        <br>ツイートには画像とURLが添付可能です。
        <br>メモしたいツイートを投稿したあとにリプが公式アカウントから返ってきたら完了です。
        <br>他にはDMで登録する方法とリストページで登録する方法があります。
        <br>DMの場合は公式アカウントにDMを送信すると登録できます。この時はハッシュタグが要りません。
        <br>リストページでの登録はログイン後に表示されるメモのリストページにある新規登録をクリックすることで行なえます。
        <br>新規登録ページの説明は後ほど行います。 </p>
    </li>
    <li>
      <p>高度なメモの登録方法
        <br>ハッシュタグのみをメモしたいツイートにリプとして送ると、リプを送った先のツイートがメモに登録されます。
        <br>この機能はメモをしたいツイートだったのにハッシュタグを付け忘れた場合に活用できます。
        <br>他人のツイートにリプを送っても一応認識しますが、TwiMemoがフォローしていないユーザーだった場合は登録されません。(Twitter側の仕様)
        <br>また、他人のツイートを保存したい場合はDMを使用することで出来ます。
        <br>ツイートのURLを公式アカウントに送るとそのURLのツイートを保存します。
        <br>公式クライアントでは、ツイートごとにDMボタンがついているので結構活用出来ると思います。</p>
    </li>
  </ul>
  <h2 id="-">管理ページの説明</h2>
  <p>ページは大きく分けて、以下のようになっています。</p>
  <ul>
    <li>トップ(ログインページ) </li>
    <li>リストページ </li>
    <li>詳細ページ </li>
    <li>編集ページ</li>
    <li>新規追加ページ </li>
  </ul>
  <h3 id="-">ページごとの説明</h3>
  <p>説明に使用している画像は開発中のものとなります。 </p>
  <ul>
    <li>
      <p>ヘッダー
        <br>どのページにも一番上には常時ヘッダーが表示されています。
        <br>ここにはトップ(ログイン時はリストへ)、この使い方ページ、GitHubのリポジトリへの各リンクが表示されています。
        <br>また、ログイン時はここにログアウト用のボタンが表示されます。
        <br>スマートフォンからアクセスした場合は、自動的に隠れるようになっています。
        <br>右端のメニューボタンをタップするとリンクが表示されます。 </p>
    </li>
    <li>
      <p>トップ
        <br>お知らせとログインボタンが表示されています。
        <br>お知らせにはバグ報告等を表示する予定です。
        <br>ログインボタンは「Sign in with Twitter」と書かれているやつです。
        <br>ログインはただ単にTwitterとアプリ連携を行うだけです。読み取り専用になっているので、安心して使っていただけます。 </p>
    </li>
    <li>
      <p>リストページ
        <br>ログインすると最初にこのページが表示されます。
        <br>
        <div class="d-none d-md-block border">
          <img src="/static/images/list-pc.png" alt="リストページ(PC)">
        </div>
        <div class="d-md-none border">
          <img src="/static/images/list-sp.png" alt="リストページ(SP)">
        </div>
        <br>ここにはメモのリストが表示されます。また、新規追加ボタンがあります。
        <br>メモごとにタイトル、日時、詳細ボタン、削除ボタンが存在します。また、アイコンが表示されることがあります。
        <br>タイトルには、メモの最初の20文字までが表示されます。
        <br>これをTwiMemoではタイトルとして登録しています。タイトルは編集ページで変更可能です。
        <br>タイトルの下には登録日時が表示されます。リストはこれの順番で並んでいます。
        <br>編集を行うと日時はその都度更新されていきます。
        <br>詳細ボタンを押すとメモの詳細を確認することが可能です。
        <br>削除ボタンを押すとメモを削除することが出来ます。削除する際は確認メッセージが表示されます。
        <br>また、メモにはアイコンが付いてるものが出来ます。アイコンの意味は以下のとおりです。
        <br><span class="oi oi-image"></span>→画像が添付されていることを示しています。
        <br><span class="oi oi-bookmark"></span>→リンクが添付されていることを示しています。
        <br>検索機能は本文での検索が出来ます。ただし、1単語でしか検索できません。
        <br>検索内容を消去して、全表示にするには何も入力せずに検索を行ってください。
      </p>
    </li>
    <li>
      <p>詳細ページ
        <br>リストページで詳細ボタンを押すとメモごとの詳細ページに飛びます。
        <br>
        <div class="d-none d-md-block border">
          <img src="/static/images/detail-pc.png" alt="詳細ページ(PC)">
        </div>
        <div class="d-md-none border">
          <img src="/static/images/detail-sp.png" alt="詳細ページ(SP)">
        </div>
        <br>この画面では、ページの名前通りメモの詳細を表示します。
        <br>タイトル、日時に加え、本文、画像、リンクが表示されます。また、編集ボタンと削除ボタンが存在します。
        <br>タイトルがリンクになっている(標準だと青文字)になっている場合は、元のツイートへのリンクとなっています。
        <br>編集を行うとこのリンクは消えます。(メモの内容とツイートが異なる状態になるため)
        <br>画像は押すと画像本体が別のページで表示されます。
        <br>リンクも押すと別ページで開きます。
        <br>編集ボタンを押すと編集ページに飛びます。
        <br>削除ボタンはリストページと同じようにメモを削除します。 </p>
    </li>
    <li>
      <p>編集ページ
        <br>詳細ページで編集ボタンを押すと編集ページに飛びます。
        <br>
        <div class="d-none d-md-block border">
          <img src="/static/images/edit-pc.png" alt="編集ページ(PC)">
        </div>
        <div class="d-md-none border">
          <img src="/static/images/edit-sp.png" alt="編集ページ(SP)">
        </div>
        <br>この画面では、メモの編集が可能です。
        <br>編集可能内容はタイトル、内容、画像、リンクとなっています。
        <br>タイトルは先ほども言ったとおり、20文字までとなっています。
        <br>内容は自由です。改行もきちんと保存されます。この項目は必須です。
        <br>画像も追加、削除が出来ます。枚数を増やしたり、減らしたりする場合は－、＋ボタンを利用してください。
        <br>ただし、ここでの画像追加はURLでのみ可能です。後から追加する場合は予めどこかのサービスにアップロードしてください。
        <br>リンクも画像同様に追加、削除が可能です。
        <br>編集が完了したら更新ボタンを押してください。サーバーに送信後、詳細ページに戻ります。
        <br>メモの日時はサーバーに送信された日時で保存してあります。
        <br>また、タイトル用に保存している元のツイートへのURLは消えますので、ご注意ください。
      </p>
    </li>
    <li>
      <p>新規追加ページ
        <br>リストページにある新規追加ボタンを押すと新規追加ページに飛びます。
        <br>
        <div class="d-none d-md-block border">
          <img src="/static/images/new-pc.png" alt="新規追加ページ(PC)">
        </div>
        <div class="d-md-none border">
          <img src="/static/images/new-sp.png" alt="新規追加ページ(SP)">
        </div>
        <br>編集ページとほとんど同じUIで機能もほぼ一緒です。ただし、画像に関する部分が異なります。
        <br>このページから追加した場合のみ4枚までサーバー側に画像をアップロード出来ます。
        <br>その代わり、画像をURLとして保存できません。URLで保存した場合は一度登録した後に編集ページから行ってください。
        <br>入力が完了したら追加ボタンを押してください。サーバーに送信後、リストページに戻ります。</p>
    </li>
  </ul>
  <h2 id="-">ヘルプ</h2>
  <h3 id="-">これ、無料？</h3>
  <p>無料で無制限にお使いいただけます。
    <br>それどころかオープンソースです。すごく汚いソースなので読まない方がいいです。 </p>
  <h3 id="-">管理者はメモ見る？</h3>
  <p>見ません。そんなに暇じゃありません。
    <br>ただ、公式アカウントから辿ることは出来るのでちらっと見えちゃうことがあるかもしれません。
    <br>そのため、他人に見られたくないメモは保存しないでください。
    <br>まあ、簡易的なものとして使ってもらうのが一番です。</p>
  <h3 id="-">なんかエラー吐いた・動作がおかしいんだけど...</h3>
  <p>あまりデバッグが出来ていないため、たまにバグるかもしれません。
    <br>こうなった場合には
    <a href="https://twitter.com/marron_general">@marron_general</a>にエラー内容と操作内容を教えていただけるとありがたいです。
    <br>GitHubの使い方を知っている方であれば、Issueにbugラベルを付けて投稿していただいてもかまいません。 </p>
  <h3 id="-">メモが保存されていない</h3>
  <p>公式アカウントからリプが返ってきているかを確認してください。
    <br>返ってきていない場合、ハッシュタグが認識されていない等の場合があります。
    <br>正しいのに返ってこない場合は、エラー時と同様に報告をお願いします。 </p>
  <h3 id="-">こんな機能が欲しい！</h3>
  <p>大歓迎です。出来る範囲で対応させてもらいます。
    <br>この場合も
    <a href="https://twitter.com/marron_general">@marron_general</a>にお知らせください。
    <br>また、GitHubのIssueにenhancementラベルを付けて投稿していただいてもかまいません。 </p>
  <h2 id="-">免責事項</h2>
  <p>運用には最大限の注意を払っていますが、突然データが消える可能性があります。
    <br>その結果、利用者に損害が生じた場合でも管理者は一切の責任を負いません。
    <br>すべて自己責任の上でサービスを使用してください。</p>

</div>
{% endblock menu %}
