{% extends "layout.html" %}
{% block menu %}
<div class="container">
    <h1 id="-">TwiMemo</h1>
    <h2 id="-">このサイトはなに？</h2>
    <p>このページはTwitterで簡単にメモを取るために作成されたページです。</p>
    <h2 id="-">使い方</h2>
    <p>
        まず、最初に<a href="https://twitter.com/twi_memo_/" target="_blank">@twi_memo_</a>をフォローします。<br>
        すぐに自動的にフォロバされるはずです。フォロバされたら登録が完了となります。<br>
        ただし、鍵垢からフォローした場合は自動的に検知出来ません。別の垢を利用するようにしてください。<br>
        (どうしても使いたい場合は<a href="https://twitter.com/marron_general/" target="_blank">@marron_general</a>に連絡を行ってください。
        手動でフォローします。)<br><br>
        次にメモしたい内容を最初に「#memo」とハッシュタグを付けてツイートします。<br>
        するとリプライが返ってきます。これでメモ完了です。<br>
        画像とURLを1つずつ添付することも可能です。<br>
        TLに流れるのが嫌な場合はDMでも登録が可能です。この場合はハッシュタグは不要です。<br><br>
        登録されたツイートはこのページで確認可能です。<br>
        Twitterアカウントでログインすると一覧が表示されます。<br>
        詳細ボタンをクリックすると詳細画面に飛びます。ここでは画像の確認、編集、削除が可能です。<br>
        また、一覧画面でも削除が可能です。
    </p>
    <h2>内容の閲覧に関して</h2>
    <p>
        管理者が自主的に内容を確認することはありません。<br>
        ただし、メンテナンスの際にTLやDMを確認する可能性がありますので<br>
        他人に知られるとマズい情報は登録しないようにしてください。
    </p>
</div>
{% endblock menu %}
