{% extends "layout.html" %}
{% block menu %}
<div class="container">
  <h2>TwiMemo</h2>
  <p>
    TwiMemoはTwitterを使って簡単にメモを取るためのサービスです。<br>
    このサービスを利用する際は、必ず最初に上のメニューのHelpを読んで下さい。
  </p>
  <p align="center" style="margin: 30px 0px;">
    <img align="center" src="/static/images/twitter.png" onclick="location.href='/twitter_auth'" style="cursor: pointer" />
  </p>
  <h4>お知らせ</h4>
  <p>
    ベータ版の為、不具合が残っている可能性があります。<br>
    バグ等を発見した場合は<a href="https://twitter.com/marron_general/" target="_blank">@marron_general</a>に直接報告するか、GitHubのIssueに書いてください。<br>
    保存完了時のリプにメモ詳細のURLが付くようになりました。<br>
    編集画面、新規作成画面でページ移動時に警告を出すようにしました。<br>
    編集画面、新規作成画面でEnterキーによる送信を無効化しました。
  </p>
</div>
{% endblock menu %}
