{% extends "layout.html" %}
{% block menu %}
<div class="container">
  <h4 align="center">お知らせ</h4>
  <p>
    ベータ版の為、不具合が残っている可能性があります。<br>
    バグ等を発見した場合は<a href="https://twitter.com/marron_general/" target="_blank">@marron_general</a>に直接報告するか、GitHubのIssueに書いてください。<br>
    このサービスを利用する際は、必ず最初に上のメニューのHelpを読んで下さい。
  </p>
  <div align="center">
    <img align="center" src="/static/images/twitter.png" onclick="location.href='/twitter_auth'" style="cursor: pointer" />
  </div>
</div>
{% endblock menu %}
