<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ツイメモ,ツイッター,twitter,メモ,memo">
    <meta name="description" content="Twitterで簡単にメモを取るためのツール">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <title>TwiMemo</title>
    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/open-iconic-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/github-markdown.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css?ver={{session['version']}}" rel="stylesheet" type="text/css" />
    <!-- JS -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.autoexpand.js"></script>
    <script src="/static/js/Nobeer.js?ver={{session['version']}}"></script>
  </head>
  <body style="padding-top: 70px;">
    {%- block navbar -%}
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        {% if session['userID'] %}
        <a class="navbar-brand" href="/list">TwiMemo</a>
        {% else %}
        <a class="navbar-brand" href="/">TwiMemo</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#link-list" aria-controls="link-list" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="link-list">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/help">Info/Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/marron-akanishi/TwiMemo" target="_blank">GitHub</a>
            </li>
            {% if session['userID'] %}
            <li class="nav-item d-md-none">
              <a class='nav-link' href="/logout">ログアウト</a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% if session['userID'] %}
        <button type="button" class="btn btn-danger d-none d-md-block" onClick="location.href='/logout'">
          <span class="oi oi-account-logout"> ログアウト</span>
        </button>
        {% endif %}
      </nav>
    </header>
    {%- endblock -%}
    {% block menu %}{% endblock %}
    <br>
    {% block contents %}{% endblock %}
    {%- block footer -%}
    <p class="footer">
      <div class="text-center">
        Copyright &copy; 2017-2018 Marron Akanishi All Rights Reserved.
      </div>
    </p>
    {%- endblock -%}
  </body>
</html>
