{% extends "layout.html" %}
{% block menu %}
<script src="/static/js/jquery.autoexpand.js"></script>
<div class="container">
  <input type="button" class="btn btn-default" onclick="location.href='/list'" value="リストに戻る">
</div>
{% endblock menu %}
{% block contents %}
<div class="container">
  <form method="POST" action="/make/{{memo.id}}" class="form-horizontal" enctype="multipart/form-data">
    <label for="title" class="control-label">タイトル:</label>
    <input type="text" id="title" name="title" value="{{memo.title}}" class="form-control margin">
    <label for="contents" class="control-label">内容:</label>
    <textarea id="contents" name="contents" class="form-control margin" required>{{memo.contents}}</textarea>
    {% for i in range(1,5) %}
    <label for="sel_{{i}}" class="control-label">画像{{i}}:</label>
    <div class="custom-file margin" id="sel_{{i}}">
      <input type="file" class="custom-file-input" id="media_{{i}}" name="media_{{i}}" onchange="$('#sel_{{i}} > label').text($('#media_{{i}}').val().split('\\').pop());">
      <label class="custom-file-label" for="media_{{i}}">PNG,JPEGのみ可</label>
    </div>
    {% endfor %}
    <label for="url" class="control-label">リンク(URL):</label>
    <input type="text" id="url" name="url" value="{{memo.url}}" class="form-control margin">
    <br>
    <input type="submit" value="追加" class="btn btn-primary">
  </form>
</div>
<script>
  $(function () {
    $('textarea').autoExpand();
  });
</script>
{% endblock contents %}