{% extends "layout.html" %}
{% block menu %}
<div class="container">
  <input type="button" class="btn btn-secondary" onclick="location.href='/list'" value="リストに戻る">
</div>
{% endblock menu %}
{% block contents %}
<div class="container">
  <form method="POST" action="/make/{{memo.id}}" class="form-horizontal" id="new-form" enctype="multipart/form-data">
    <h5>タイトル(20文字まで)</h5>
    <input type="text" id="title" name="title" class="form-control margin" maxlength="20">
    <h5>内容(必須)</h5>
    <textarea id="contents" name="contents" class="form-control margin" required></textarea>
    <div id="files">
      <h5>画像(4枚まで)</h5>
      <button type="button" class="btn btn-outline-danger margin" id="fileremove">－</button>
      <button type="button" class="btn btn-outline-primary margin" id="fileadd">＋</button>
      <div data-idx="0">
        <div class="custom-file margin" id="file">
          <input type="file" class="custom-file-input media-input" id="media_0">
          <label class="custom-file-label" for="media_0">PNG,JPEGのみ可</label>
        </div>
      </div>
    </div>
    <div id="urls">
      <h5>リンク(URL)</h5>
      <button type="button" class="btn btn-outline-danger margin" id="urlremove">－</button>
      <button type="button" class="btn btn-outline-primary margin" id="urladd">＋</button>
      <div data-idx="0">
        <input type="url" id="url" class="form-control margin url-input">
      </div>
    </div>
    <br>
    <input type="submit" class="btn btn-success" id="submit" value="追加">
  </form>
</div>
<script>
  media_idx = 1;
  url_idx = 1;
</script>
<script src="/static/js/form.js?ver={{session['version']}}"></script>
{% endblock contents %}