{% extends "layout.html" %}
{% block menu %}
<script src="/static/js/jquery.autoexpand.js"></script>
<div class="container">
  <input type="button" class="btn btn-default" onclick="location.href='/list'" value="リストに戻る">
</div>
{% endblock menu %}
{% block contents %}
<div class="container">
  <form method="POST" action="/make/{{memo.id}}" class="form-horizontal" enctype="multipart/form-data">
    <h5>タイトル</h5>
    <input type="text" id="title" name="title" class="form-control margin">
    <h5>内容(必須)</h5>
    <textarea id="contents" name="contents" class="form-control margin" required></textarea>
    <div class="image-repeater">
      <h5>画像</h5>
      <div class="custom-file margin">
        <input type="file" class="custom-file-input" id="media" name="media" onchange="">
        <label class="custom-file-label" for="media">PNG,JPEGのみ可</label>
      </div>
      <button class="btn btn-outline-primary margin">＋</button>
    </div>
    <div>
      <h5>リンク</h5>
      <input type="text" id="url" name="url" class="form-control margin">
      <button class="btn btn-outline-primary margin">＋</button>
    </div>
    <br>
    <input type="submit" value="追加" class="btn btn-primary">
  </form>
</div>
<script>
  $(function () {
    $('textarea').autoExpand();
  });
</script>
{% endblock contents %}